.FullPage {
    background-color: black;
    height:100vh;
}
/* MoviePoster.js */
.FlexMovieList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
}

.FlexMoviePoster {
    margin: 1rem;
    width: 15vw;
    height: auto;
    border: 0.3rem solid gray;
    border-radius: 1rem;
}

.FlexMoviePoster:hover {
    opacity: 0.8;
}

/* MoviePoster.js */


/* ActorPoster.js */
.FlexActorList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}

.FlexActorPoster {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: stretch;
    margin: 1rem;
    border-radius: 1rem;
    background-color: gray;
    padding-bottom: 2rem;
    width: 15vw;
    height: auto;
}

.ActorPoster {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    border: 0.3rem solid gray;
}

.ActorPoster:hover {
    opacity: 0.8;
}

.ActorName {
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    color: black;
    font-weight: bold;
    border-bottom: 0.1rem solid black;
    font-family: 'Mandali', sans-serif;
}

.ActorRole {
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0 0 0;
    color: black;
    font-weight: bold;
    font-family: 'Mandali', sans-serif;
}

.MovieInfoPoster {
    height: 30vh;
}

/* ActorPoster.js */


@media screen and (min-width: 320px) and (max-width: 767px) {
    .FlexMoviePoster {
        width: 40vw;
        border: 0.2rem solid gray;
    }

    /* ActorPoster.js */
    .FlexActorPoster {
        margin: 0.5rem;
        padding-bottom: 1rem;
        width: 40vw;
    }

    .ActorPoster {
        border: 0.2rem solid gray;
    }

    .ActorName {
        font-size: 0.8rem;
        padding: 0.2rem 0 0.2rem 0;
    }

    .ActorRole {
        font-size: 0.8rem;
        padding: 0.2rem 0 0 0;
    }

    /* ActorPoster.js */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .FlexMoviePoster {
        width: 25vw;
        border: 0.2rem solid gray;
    }

    /* ActorPoster.js */
    .FlexActorPoster {
        margin: 1rem;
        padding-bottom: 1.5rem;
        width: 25vw;
    }

    .ActorName {
        font-size: 0.9rem;
        padding: 0.4rem 0 0.4rem 0;
    }

    .ActorRole {
        font-size: 0.9rem;
        padding: 0.4rem 0 0 0;
    }

    /* ActorPoster.js */
}